:root {
	--prim: #4d66a6;
	--sec: #a44da6;
	--ter: #4d96a6;
	--bg: #142833;
	--not-active: #ccd4e9;
	--active: white;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg);
	font-family: sans-serif;
	font-size: 16px;
}
